*{
    margin:0;
    padding:0;
}
ul , li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body{
    line-height: 1.4;
    background: #fff;
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
    position: absolute;
}
.slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
